
body{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}
section.header{
       background: darkgreen;
}
.container{
       max-width: 1200px;
       margin: 0 auto;
       padding: 2rem 0;
}
.container h1{
       color: white;
       font-size: 2rem;
       font-weight: 700;
       text-align: center;
}